<a href="https://colab.research.google.com/github/AnithaKandugula/ADM/blob/main/10f2_Assignment_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,root_mean_squared_error
data=pd.read_csv('california_housing_train.csv')
print(data)
y=data['median_house_value']#dependent
x=data.drop(columns=['median_house_value'],axis=1)#independent
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
print(x_train)
print(x_test)
print(y_train)
print(y_test)
model=LinearRegression()
model.fit(x_train,y_train)
print(model.score(x_test,y_test))
print(model.predict(x_test))
print(y_test)
print(mean_squared_error(y_test,model.predict(x_test)))
print(mean_absolute_error(y_test,model.predict(x_test)))
print(root_mean_squared_error(y_test,model.predict(x_test)))

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
12168    -121.45     38.53                38.0       1746.0           388.0
11672    -121.30     38.68                19.0       2655.0           438.0
2194     -117.38     33.98                52.0       2274.0           571.0
11974    -121.38     38.49                11.0       8537.0          1643.0
111      -115.73     33.09                27.0        452.0           103.0
...          ...       ...                 ...          ...             ...
14000    -122.04     37.34                25.0       1994.0           287.0
11050    -120.97     37.65                16.0       3960.0           716.0
3140     -117.83     33.81                28.0       1972.0           315.0
2023     -117.32     34.12                37.0       2868.0           574.0
7166     -118.33     34.24                31.0       6434.0          1188.0

       population  households  median_income
12168      1142.0       315.0         1.7714
11672      1253.0       454.0         5.2817
2194       1167.0       504.0         2.0284
11974      4224.0      1648.0         2.9647
111         258.0        61.0         2.9000
...           ...         ...            ...
14000       704.0       283.0         7.7799
11050      1776.0       724.0         3.9886
3140        970.0       326.0         5.4298
2023       2055.0       563.0         2.3508
7166       3540.0      1131.0         4.2639

[13600 rows x 8 columns]
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
16302    -122.50     38.35                25.0       1566.0           352.0
12027    -121.41     39.04                16.0       1698.0           300.0
14221    -122.08     37.63                33.0        691.0           127.0
9046     -118.97     35.36                31.0       1418.0           306.0
15754    -122.41     38.07                20.0       4536.0           708.0
...          ...       ...                 ...          ...             ...
10300    -120.06     39.09                30.0       2979.0           583.0
1879     -117.28     34.09                44.0        376.0            87.0
14474    -122.14     38.07                31.0       3401.0           616.0
6537     -118.27     33.80                38.0       1446.0           327.0
2720     -117.69     34.05                10.0       1875.0           366.0

       population  households  median_income
16302       784.0       362.0         3.0750
12027       731.0       291.0         3.0739
14221       431.0       149.0         4.2500
9046       1219.0       312.0         1.5743
15754      1812.0       701.0         6.0433
...           ...         ...            ...
10300       316.0       124.0         2.1987
1879        273.0       107.0         2.2917
14474      1750.0       602.0         4.6761
6537        980.0       319.0         3.3500
2720       1055.0       363.0         4.3264

[3400 rows x 8 columns]
12168     69900.0
11672    140600.0
2194     101600.0
11974    108900.0
111       87500.0
           ...
14000    447300.0
11050    137500.0
3140     234200.0
2023      70500.0
7166     293300.0
Name: median_house_value, Length: 13600, dtype: float64
16302    165100.0
12027     87200.0
14221    192600.0
9046      46700.0
15754    435900.0
           ...
10300    124000.0
1879      90800.0
14474    143100.0
6537     177700.0
2720     128900.0
Name: median_house_value, Length: 3400, dtype: float64
0.6318701768242295
[184424.55838437  89559.30248451 239057.43025191 ... 243505.11794682
 212698.85525134 184229.63603387]
16302    165100.0
12027     87200.0
14221    192600.0
9046      46700.0
15754    435900.0
           ...
10300    124000.0
1879      90800.0
14474    143100.0
6537     177700.0
2720     128900.0
Name: median_house_value, Length: 3400, dtype: float64
5104828542.570514
51914.33558582857
71448.08284741106

In [9]:
from sklearn.svm import SVR
model=SVR()
model.fit(x_train,y_train)
print(model.score(x_test,y_test))

-0.060376964515385545

In [10]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
model.fit(x_train,y_train)
print(model.score(x_test,y_test))

0.8149827241645247

In [11]:
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor()
model.fit(x_train,y_train)
print(model.score(x_test,y_test))

0.6340201233056215

In [12]:
from sklearn.neighbors import KNeighborsRegressor
model=KNeighborsRegressor()
model.fit(x_train,y_train)
print(model.score(x_test,y_test))

0.25673881221103134

In [15]:
d=pd.read_csv('mnist_train_small.csv')
print(d)

       6  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.581  0.582  0.583  \
0      5  0    0    0    0    0    0    0    0    0  ...      0      0      0
1      7  0    0    0    0    0    0    0    0    0  ...      0      0      0
2      9  0    0    0    0    0    0    0    0    0  ...      0      0      0
3      5  0    0    0    0    0    0    0    0    0  ...      0      0      0
4      2  0    0    0    0    0    0    0    0    0  ...      0      0      0
...   .. ..  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...    ...
19994  0  0    0    0    0    0    0    0    0    0  ...      0      0      0
19995  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
19996  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
19997  9  0    0    0    0    0    0    0    0    0  ...      0      0      0
19998  5  0    0    0    0    0    0    0    0    0  ...      0      0      0

       0.584  0.585  0.586  0.587  0.588  0.589  0.590
0          0      0      0      0      0      0      0
1          0      0      0      0      0      0      0
2          0      0      0      0      0      0      0
3          0      0      0      0      0      0      0
4          0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...
19994      0      0      0      0      0      0      0
19995      0      0      0      0      0      0      0
19996      0      0      0      0      0      0      0
19997      0      0      0      0      0      0      0
19998      0      0      0      0      0      0      0

[19999 rows x 785 columns]

In [18]:
x=d.drop(columns=['6'],axis=1)
y=d['6']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

       0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  0.9  ...  0.581  0.582  \
16692  0    0    0    0    0    0    0    0    0    0  ...      0      0
3795   0    0    0    0    0    0    0    0    0    0  ...      0      0
15384  0    0    0    0    0    0    0    0    0    0  ...      0      0
8381   0    0    0    0    0    0    0    0    0    0  ...      0      0
3425   0    0    0    0    0    0    0    0    0    0  ...      0      0
...   ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...
6351   0    0    0    0    0    0    0    0    0    0  ...      0      0
6405   0    0    0    0    0    0    0    0    0    0  ...      0      0
7833   0    0    0    0    0    0    0    0    0    0  ...      0      0
4870   0    0    0    0    0    0    0    0    0    0  ...      0      0
13893  0    0    0    0    0    0    0    0    0    0  ...      0      0

       0.583  0.584  0.585  0.586  0.587  0.588  0.589  0.590
16692      0      0      0      0      0      0      0      0
3795       0      0      0      0      0      0      0      0
15384      0      0      0      0      0      0      0      0
8381       0      0      0      0      0      0      0      0
3425       0      0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...
6351       0      0      0      0      0      0      0      0
6405       0      0      0      0      0      0      0      0
7833       0      0      0      0      0      0      0      0
4870       0      0      0      0      0      0      0      0
13893      0      0      0      0      0      0      0      0

[15999 rows x 784 columns]
       0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  0.9  ...  0.581  0.582  \
7137   0    0    0    0    0    0    0    0    0    0  ...      0      0
11458  0    0    0    0    0    0    0    0    0    0  ...      0      0
715    0    0    0    0    0    0    0    0    0    0  ...      0      0
4305   0    0    0    0    0    0    0    0    0    0  ...      0      0
16537  0    0    0    0    0    0    0    0    0    0  ...      0      0
...   ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...
2242   0    0    0    0    0    0    0    0    0    0  ...      0      0
10552  0    0    0    0    0    0    0    0    0    0  ...      0      0
12143  0    0    0    0    0    0    0    0    0    0  ...      0      0
3195   0    0    0    0    0    0    0    0    0    0  ...      0      0
6749   0    0    0    0    0    0    0    0    0    0  ...      0      0

       0.583  0.584  0.585  0.586  0.587  0.588  0.589  0.590
7137       0      0      0      0      0      0      0      0
11458      0      0      0      0      0      0      0      0
715        0      0      0      0      0      0      0      0
4305       0      0      0      0      0      0      0      0
16537      0      0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...
2242       0      0      0      0      0      0      0      0
10552      0      0      0      0      0      0      0      0
12143      0      0      0      0      0      0      0      0
3195       0      0      0      0      0      0      0      0
6749       0      0      0      0      0      0      0      0

[4000 rows x 784 columns]
16692    6
3795     6
15384    2
8381     1
3425     8
        ..
6351     9
6405     9
7833     1
4870     7
13893    8
Name: 6, Length: 15999, dtype: int64
7137     2
11458    2
715      5
4305     1
16537    8
        ..
2242     4
10552    6
12143    1
3195     0
6749     0
Name: 6, Length: 4000, dtype: int64

In [19]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)
print(model.score(x_test,y_test))

0.8925

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [22]:
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score,f1_score
print(confusion_matrix(y_test,model.predict(x_test)))
print(accuracy_score(y_test,model.predict(x_test)))
print(precision_score(y_test,model.predict(x_test), average='weighted'))
print(recall_score(y_test,model.predict(x_test), average='weighted'))
print(f1_score(y_test,model.predict(x_test), average='weighted'))

[[385   0   2   2   2   3   3   1   7   2]
 [  0 421   2   4   0   0   1   0   2   2]
 [  5   7 327  12   9   1   5   6  13   2]
 [  4   4  11 369   1  19   3   5  11   4]
 [  0   0   4   1 324   2   4   2   6  26]
 [  7   4   2  20   4 296   5   1  11   9]
 [  1   1  12   0   5   7 398   0   6   0]
 [  1   1   6   5   2   1   0 399   2  11]
 [  4  10   8  17   0   9   3   2 307   9]
 [  3   2   3   8  12   3   0   8   5 344]]
0.8925
0.8926464907251553
0.8925
0.8923737669212779

In [23]:
from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)
print(model.score(x_test,y_test))

0.966